#navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav-name ul {
    padding-right: 6rem;
    display: flex;
}

