/* Background Color #D8E2DC */
/* Text Color #0A0A0A */
:root {
    --bg-col:#D8E2DC;
    --text-col:#0A0A0A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', serif;
    color: var(--text-col);
}
::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: black;
}
.font-small{
    font-size: 1.4rem;
}
.font-medium{
    font-size: 1.9rem;
}
.font-big{
    font-size: 2.4rem;
}
a{
    text-decoration: none;
    color: var(--text-col);
}
#contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Navbar Start */
#navbar {
    
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-name ul {
    list-style: none;
    display: flex;
}
.nav-name ul li{
    padding: 0 5%;
}
/* Navbar End */
/* Container */
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Section-2(fix page) Start */

#main-2{
    background-color: var(--bg-col);
    position: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.img img {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
}
/* Section-1 start */
/* homepage start */
#head-name{
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 13% 23%;
}
.homepage h1 {
    font-size: 8rem;
    letter-spacing: 3px;
}
.homepage p {
    font-size: 5rem;
    padding-bottom: 2.4rem;
}
.homepage span {
    font-size: 1.9rem;
    padding: 0.3rem 0;
    letter-spacing: 1px;
}
/* homepage end */

/* about page start */
#about{


    width: 50%;
    /* margin-left: 11.5%; */
    padding: 0 11.5%;;
}
.head{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
}
.head h3{
    font-size: 2.8rem;
    padding-bottom: 1.5rem;
    letter-spacing: 4px;
}
.head span{
    letter-spacing: 0.125px;
}
/* about page end */

/* content page start */
#content {
    width: 50%;
    padding: 0 11.5%;
}
.head span{
    font-size: 1.9rem;
    padding: 0.3rem 0;
    letter-spacing: 1px;
}
.space{
    height: 20vh;
}
/* content page end */